body {
    background-color: rgb(20, 20, 20);
    margin: 0;
}

.gamewindow {
    background-color: rgba(114, 108, 77, 0);
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

#game {
    object-fit: contain;
    width: 100%;
    height: 100%;
    margin: 0;
}